{% extends "layouts/layout.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% block content %}

  <h2 class="govuk-heading-l">Designs</h2>
  <ul class="govuk-list gov uk-list--spaced">
    <li><a href="/designs/provider/borchester county council">Provider page</a></li>
    <li><a href="/designs/provider/borchester county council/conservation areas">Provider dataset information page</a></li>
  </ul>


  <h2 class="govuk-heading-l">Views</h2>

  <ul class="govuk-list gov uk-list--spaced">
    {% for org in organisations %}
      <li><a href="{{ url_for('provider.summary', organisation = org.organisation) }}">{{ org.name}}</a></li>
    {% endfor %}

  </ul>

{% endblock %}
