{% extends "layouts/page.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% set pageData = {
  'title': templateData.organisation,
  'caption': 'Organisation',
  'summary': {
    'show': True,
  }
} %}

{% block page_summary_content %}
  <div class="app-!-self-clear">
    <img src="{{ assetPath | default('/static') }}/images/open-digital-planning-logo.svg" width="100" alt="" class="app-!-float-right">
    <p>This organisation is part of the open digital planning programme.</p>
  </div>
{% endblock page_summary_content %}

{% block content_primary %}

  <h2 class="govuk-heading-l" id="data-from-this-organisation">Data provided by {{ templateData.organisation | title }}</h2>


{% endblock %}
