{% extends "layouts/page.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% block page_summary_content %}
  <div class="app-!-self-clear">
    <img src="{{ assetPath | default('/static') }}/images/open-digital-planning-logo.svg" width="100" alt="" class="app-!-float-right">
    <p>This organisation is a member of the open digital planning programme.</p>
  </div>
{% endblock page_summary_content %}

{% block content_primary %}

  <h2 class="govuk-heading-l">Data catalogue</h2>

  <p class="govuk-body-l"> A list of datasets planning.data.gov.uk collects with feedback, help and guidance for {{ page_data.title | title }} to be able provide them.</p>

  {% set itemsLabel = 'Sources'  %}

  {% for pr in provision_reasons %}
    {% if sources_by_provision_reason[pr.provision_reason] %}

    <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="expected-data">{{ pr.name }}</h2>

    <p class="govuk-hint">{{ provision_reason_copy[pr.provision_reason] }}</p>

      {{
        govukTable({
          'head': [
            {
              'text': 'Dataset',
              'classes': 'govuk-!-width-one-half'
            },
            {
              'html': '<span class="govuk-visually-hiddens">' + itemsLabel + '</span>',
            },
            {
              'html': '<span class="govuk-visually-hidden">Link</span>',
               "format": "numeric",
            }
          ],
          'rows': sources_by_provision_reason[pr.provision_reason]
        })
      }}

      <hr class="govuk-section-break govuk-section-break--l">

    {% endif %}
  {% endfor %}

{% endblock %}
