{% extends "layouts/page.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% block page_summary_content %}
  <div class="app-!-self-clear">
    <img src="{{ assetPath | default('/static') }}/images/open-digital-planning-logo.svg" width="100" alt="" class="app-!-float-right">
    <p>This organisation is a member of the open digital planning programme.</p>
  </div>
{% endblock page_summary_content %}

{% block content_primary %}

  {% set itemsLabel = 'Total'  %}

  <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="data-from-this-organisation">Data provided by {{ organisation.name | title }}</h2>

  <p class="govuk-hint">{{ organisation.name | title }} currently publishes the following datasets which are being regularly collected by planning.data.gov.uk.</p>

  <hr class="govuk-section-break govuk-section-break--l ">

  <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="data-from-other-organisations">Data provided by other organisations</h2>

  <p class="govuk-hint">The following data is being collected from organisations other than {{ organisation.name | title }}.</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Dataset name'
        },
        {
          'text': itemsLabel,
          'format': 'numeric'
        }
      ],
      'rows': [
        [
          {
            'text': 'Conservation areas'
          },
          {
            'text': '58',
            'format': 'numeric'
          },
        ],
        ]
    })
    }}

  <hr class="govuk-section-break govuk-section-break--l">

  <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="data-needed">Data we need</h2>

  <p class="govuk-hint">This is a list of data we would like to collect from {{ organisation.name | title }} but do not yet have sources for.</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Dataset name'
        },
        {
          'text': itemsLabel,
          'format': 'numeric'
        }
      ],
      'rows': [
        [
          {
            'text': 'Central activities zones'
          },
          {
            'text': '0',
            'format': 'numeric'
          },
        ],
        ]
    })
    }}

  <hr class="govuk-section-break govuk-section-break--l">

{% endblock %}
