{% extends "layouts/page.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% block page_summary_content %}
  <div class="app-!-self-clear">
    <img src="{{ assetPath | default('/static') }}/images/open-digital-planning-logo.svg" width="100" alt="" class="app-!-float-right">
    <p>This organisation is a member of the open digital planning programme.</p>
  </div>
{% endblock page_summary_content %}

{% block content_primary %}

  <h2 class="govuk-heading-l">Data catalogue</h2>

  <p class="govuk-body-l">Planning and housing datasets created using data provided by {{ page_data.title }}.</p>

  {% set itemsLabel = 'Total'  %}

  <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="expected-data">Expected datasets</h2>

  <p class="govuk-hint">{{ page_data.title | title }} currently publishes the following datasets which are being regularly collected by planning.data.gov.uk.</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Dataset name'
        },
        {
          'text': itemsLabel,
          'format': 'numeric'
        }
      ],
      'rows': project_datasets
    })
    }}

  <hr class="govuk-section-break govuk-section-break--l ">

  <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="data-from-other-organisations">Expected datasets</h2>

  <p class="govuk-hint">The following data is being collected from organisations other than {{ organisation.name | title }}.</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Dataset name'
        },
        {
          'text': itemsLabel,
          'format': 'numeric'
        }
      ],
      'rows': [
        [
          {
            'text': 'Conservation areas'
          },
          {
            'text': '58',
            'format': 'numeric'
          },
        ],
        ]
    })
    }}

{% endblock %}
