{% extends "layouts/page.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% block content_primary %}



  <h2 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="data-from-this-organisation">Sources of data from {{ organisation.name | title }}</h2>

  <p class="govuk-hint">We have the following sources of data for {{ datast }} from {{ organisation.name | title }} being collected by planning.data.gov.uk.</p>




  <hr class="govuk-section-break govuk-section-break--l ">

  {% for source in sources %}
    {{ source }}
  {% endfor %}

{% endblock %}
