
{% extends "layouts/page.html" %}
{% block pageTitle %}Feedback{% endblock %}

{% block content_primary %}

  <h2 class="govuk-heading-l">Data sources</h2>
  {% set whatIsASourceContent %}
  <p class="govuk-body">A data source a place on the internet that planning.data.gov.uk collects data from. This is typically a:</p>
  <ul class="govuk-list govuk-list--spaced">
    <li>Data URL (sometimes called an 'Endpoint'), which is the web address the digital data was collected from.</li>
    <li>Documentation page, which is the web page that describes and links to Data URL</li>
  </ul>
  {% endset %}

  {{
    govukDetails({
      'summaryText': 'What is a data source?',
      'html': whatIsASourceContent
    })
  }}

  {% for s in sources %}
    {% set sourceLabel = 'Source ' + (loop.index | string) %}
    {% set url = url_for("provider.data", organisation=s.organisation.organisation, dataset=s.dataset, source=s.source, endpoint_id=s.endpoint) %}
    {{
      appEndpointCard({
        'title': sourceLabel,
        'showHints': True,
        'link': {
          'url': url,
          'text': 'View data from ' + sourceLabel
        },
        'endpoint': {
          'url': s.endpoint_url,
        },
        'documentation': {
          'url': s.documentation_url
        }
      })
    }}
  {% endfor %}

{% endblock %}

{% block content_secondary %}
  <h3 class="govuk-heading-s app-heading-section app-heading-section--top">Support</h3>
  <p>Are these sources correct? If not you can <a href="#">report a problem</a></p>
{% endblock content_secondary %}
