.app-\!-float {
  &-left {
    float: left;
    @at-root img, figure {
      margin-right: govuk-spacing(3);
    }
  }
  &-right {
    float: right;
    @at-root img, figure {
      margin-left: govuk-spacing(3);
    }
  }
}

.app-\!-self-clear {
  @include govuk-clearfix;
}
