{% extends "layouts/page.html" %}
{% block pageTitle %}{{ page_data.organisation.name }}{% endblock %}

{% block page_summary_content %}
  <div class="app-!-self-clear">
    <img src="{{ assetPath | default('/static') }}/images/open-digital-planning-logo.svg" width="100" alt="" class="app-!-float-right">
    <p>This organisation is a member of the open digital planning programme.</p>
  </div>
{% endblock page_summary_content %}

{% block content_primary %}

  <h2 class="govuk-heading-l">Data catalogue</h2>

  <p class="govuk-body-l">Planning and housing datasets created using data provided by {{ page_data.organisation.name }}.</p>

  <h3 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="statutory-datasets">Statutory datasets</h3>
  <p class="govuk-hint">Datasets that {{ page_data.organisation.name }} are legally required to publish</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Name'
        },
        {
          'text': 'Status',
          'classes': 'govuk-!-text-align-right'
        },
      ],
      'rows': [
        [
          {
            'html': '<a href="brownfield land">Brownfield land</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
      ]
    })
  }}

  <hr class="govuk-section-break govuk-section-break--m">

  <h3 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="expected-datasets">Expected datasets</h3>
  <p class="govuk-hint">Datasets we expect {{ page_data.organisation.name }} to publish because they have agreed to do so with the Department for Levelling Up, Housing and Communities.</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Name'
        },
        {
          'text': 'Status',
          'classes': 'govuk-!-text-align-right'
        },
      ],
      'rows': [
        [
          {
            'html': '<a href="Conservation areas">Conservation areas</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
        [
          {
            'html': '<a href="listed buildings">Listed buildings</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
        [
          {
            'html': '<a href="article 4 directions">Article 4 directions</a>',
          },
          {
            'html': govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
        [
          {
            'html': '<a href="article 4 direction areas">Article 4 Direction areas</a>',
          },
          {
            'html': govukTag({ 'text': page_data.status[2], 'classes': 'govuk-tag--red' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
      ]
    })
  }}

  <hr class="govuk-section-break govuk-section-break--m">

  <h3 class="govuk-heading-m app-heading-section app-heading-section--bottom" id="encouraged-datasets">Encouraged datasets</h3>
  <p class="govuk-hint">Encouraged datasets are what we ask organisations such as {{ page_data.organisation.name }} to publish but they are not yet required to so by law or agreement.</p>

  {{
    govukTable({
      'head': [
        {
          'text': 'Name'
        },
        {
          'text': 'Status',
          'classes': 'govuk-!-text-align-right'
        },
      ],
      'rows': [
        [
          {
            'html': '<a href="#">Dataset name</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
        [
          {
            'html': '<a href="#">Dataset name</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
        [
          {
            'html': '<a href="#">Dataset name</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[2], 'classes': 'govuk-tag--grey' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
        [
          {
            'html': '<a href="#">Dataset name</a>'
          },
          {
            'html': govukTag({ 'text': page_data.status[2], 'classes': 'govuk-tag--grey' }),
            'classes': 'govuk-!-text-align-right'
          },
        ],
      ]
    })
  }}

  <hr class="govuk-section-break govuk-section-break--m">

  {% set detailsText %}
  <p>Each dataset is listed by name and has an associated 'Status'.</p>
  <p>A collection can either be:</p>
  <ul class="govuk-list govuk-list--spaced">
    <li>{{ govukTag({ 'text': page_data.status[0], 'classes': 'govuk-tag--green' })}} means planning.data.gov.uk was able to successfully collect data from {{ page_data.organisation.name }}.</li>
    <li>{{ govukTag({ 'text': 'Not found', 'classes': 'govuk-tag--red' })}} means planning.data.gov.uk was not able to collect data from {{ page_data.organisation.name }}.</li>
  </ul>
  {% endset %}

  {{
    govukDetails({
      'summaryText': 'Help understanding this table',
      'text': detailsText | safe
    })
  }}

{% endblock content_primary %}

{% block content_secondary %}
{# <h3 class="govuk-heading-s app-heading-section app-heading-section--top" id="Summary">Summary</h3>

{{ govukSummaryList({
  'rows': [
    {
      'key': {
        'text': "Possible datasets"
      },
      'value': {
        'text': "15"
      },
    },
    {
      'key': {
        'text': "Total provided"
      },
      'value': {
        'text': "9"
      },
    }
  ]
}) }} #}
{% endblock content_secondary %}
