{% macro appEndpointCard(params={}) %}
  <article class="app-card app-card--endpoint">
    {% if params.title %}
    <header class="app-card__header">
      <{{ params.headingLevel | d('h3')}} class="app-card__title">
          {{ params.title }}
      </{{ params.headingLevel | d('h3')}}>
      <a class="app-card__link" href="{{ params.link.url }}">{{ params.link.text }}</a>
    </header>
    {% endif %}
    <div class="app-card__body">
      {% if params.endpoint %}
        <div class="app-card__row">
          <p class="app-card__label">{{ params.endpoint.text | d('Data URL') }}</p>
          {% if params.showHints %}
          <p class="govuk-hint">{{ params.endpoint.hint | d('The web address data was collected from') }}</p>
          {% endif %}
          <code class="app-card__code">{{ params.endpoint.url | d('https://www.borchestercouncil.gov.uk/data/feed/example.json') }}</code>
        </div>
      {% endif %}
      {% if params.documentation %}
      <div class="app-card__row">
          {% if params.documentation.url %}
            <p class="app-card__label">{{ params.documentation.text | d('Documentation page') }}</p>
            {% if params.showHints %}
            <p class="govuk-hint">{{ params.documentation.hint | d('The web page we found the source URL on') }}</p>
            {% endif %}
            <p class="app-card__link">
              <a href="{{ params.documentation.url | d('#' )}}" class="govuk-link">{{ params.documentation.url | d('#') }}</a>
            </p>
          {% else %}
          {% endif %}
      </div>
      {% endif %}
      <!-- @PaulSmith - rip this out once you've had a look -->
      {% if params.data %}
        <div class="app-card__row">
          <p class="app-card__label">{{ params.data.text | d('Data') }}</p>
          <p class="app-card__link">
            <a href="{{ params.data.url | d('#' )}}" class="govuk-link">View the data collected</a>
          </p>
        </div>
      {% endif %}
    </div>
  </article>
{% endmacro %}
